// Start of outer footer wrapper
footer#outer_footer_wrapper
  // Start of footer wrapper
  #footer_wrapper
    // Start of one fourth first
    .one_fourth_first
      a(href='#')
        img(src='img/bottom_logo.png', alt='bottom logo')
      p
        | is a nonprofit, tax-exempt charitable organization under Section 501(c)(3) of the Internal Revenue Code. Donations are tax-deductible as allowed by law.
    // end of one fourth first
    // Start of one fourth
    .one_fourth
      a(href='#')
        img(src='img/footerimage.png', alt='go daddy verified')
    // end of one fourth
    // Start of one fourth
    .one_fourth
      h6 About Us
      ul
        li
          a(href='#') About Us
        li
          a(href='#') Blog
        li
          a(href='#') News
        li
          a(href='#') Vision and Mission
        li
          a(href='#') Our Accountability
        li
          a(href='#') Financials
    // end of one fourth
    // Start of one fourth
    .one_fourth
      h6 Our Friends
      ul
        li
          a(href='#') WWF
        li
          a(href='#') Redcross.org
        li
          a(href='#') Charity : Water
        li
          a(href='#') Make A Wish Foundation
        li
          a(href='#') Nature.org
        li
          a(href='#') ASPCA.org
    // end of one fourth
  // End of footer wrapper
  // Start of clear fix
  .clear
// End of outer footer wrapper
// Start of bottom nav wrap
#bottom_nav_wrap
  // Start of copyright message
  .copyright_message
    | &copy; 2012 Jonathan Atkinson
  // End of copyright message
  // Start of social
  section.social
    ul.icons
      li
        a(href='#')
          img(src='img/pinterest.png', height='18', width='13', alt='pinterest')
      li
        a(href='#')
          img(src='img/flickr.png', height='18', width='20', alt='flickr')
      li
        a(href='#')
          img(src='img/googleplus.png', height='15', width='16', alt='google plus')
      li
        a(href='#')
          img(src='img/twitter.png', height='13', width='17', alt='twitter')
      li
        a(href='#')
          img(src='img/facebook.png', height='18', width='9', alt='facebook')
  // End of social
// end of bottom nav wrap
.clear