doctype html
html
  include head

  body
    .bdywrapper
    // Start of nav wrapper
    #nav_wrapper
      // Start of top logo
      #top_logo
        a(href='#')
          h1 NatureNet          
      // End of top logo

    // Start of midsectionhr
    #midsectionhr
    // Start of bdywrapper
    .bdywrapper
      // Start of main
      section#main
        // Start of main fullwidth wrapper
        #main_fullwidth_wrapper
          // Start of blog wrapper
          article.blog_wrapper
            
            
              block content

             
              .clear
              .big
              hr
              // Start of navigation
              .navigation
                // Start of alignleft
                .alignleft
                  a(href='#') Previous Blog Title
                // End of alignleft
                // Start of alignright
                .alignright
                  a(href='#') Next Blog Title
                // End of alignright
              // End of navigation
              // Start of clear fix
              .clear
              
            // End of featured text blog
            // Start of clear fix
            .clear
          // End of blog wrapper
        // End of main fullwidth wrapper
        // Start of clear fix
        .clear
      // End of main
      // ******************************************************************** This is homepage newsletter signup ********************************************************************

    // End of bdywrapper
    // ******************************************************************** This is start of the footer ********************************************************************
    // Start of top
    #top
      // Start of main section bg
      #main_section_bg
      // End of main section bg
      // Start of clear fix
      .clear
    // End of top
    
